<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Favorite Books Django Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style media="screen">
      .error{
        color: red;
      }
    </style>
  </head>
  <body>


    <a href="/wish_item/create">Add Item</a>

    |

    <a href="/logout">Logout</a>


    <h3>Hello, {{logged_user.name}}!</h3>


<h5>Your Wish List:</h5>



<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Added by</th>
      <th scope="col">Date Added</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for i in items %}
    <tr>
      <th scope="row"><a href="/wish_item/{{i.id}}">{{i.item}}</a></th>
      <td>{{i.added_by.name}}</td>
      <td>{{i.created_at}}</td>
      <td><a href="/removeItem/{{i.id}}">Remove from my Wishlist</a>
        <br>
      <a href="/deleteItem/{{i.id}}">Delete</a></td>
    </tr>
      {% endfor %}
  </tbody>
</table>




<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Added by</th>
      <th scope="col">Date Added</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for i in loggedUserItem %}
    <tr>
      <th scope="row"><a href="/wish_item/{{i.id}}">{{i.item}}</a></th>
      <td>{{i.added_by.name}}</td>
      <td>{{i.created_at}}</td>
      <td><a href="/addOtherUserItem/{{i.id}}">Add to my Wishlist</a></td>
      {% endfor %}
    </tr>
  </tbody>
</table>






{{loggedUserItem}}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
